name: Build

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  guide-content:
    runs-on: ubuntu-latest
    name: Guide content
    steps:
      - name: Check out files from GitHub
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setting up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: Install dependencies
        run: npm install ci

      - name: Compile Eleventy
        run: npm run build
