name: Lint

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-tools:
    name: Check lint with ${{ matrix.tool }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tool:
          - textlint
          - remark
    steps:
      - name: Check out files from GitHub
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setting up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: "npm"

      - name: Install dependencies
        run: npm install ci

      - name: Lint with ${{ matrix.tool }}
        run: npm run lint:${{ matrix.tool }}:check
