name: Deploy to Zendesk

run-name: ${{ github.actor }} - ${{ github.event_name }} - ${{ github.sha }}

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/**"
      - "!.github/workflows/zendesk-deploy.yml"
      - ".devcontainer.json"
      - ".editorconfig"
      - ".env.example"
      - "CHANGELOG.md"
      - "LICENSE"
      - "README.md"

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  deploy-to-zendesk:
    if: github.repository_owner == 'NabuCasa'
    environment: content
    runs-on: ubuntu-latest
    steps:
      - name: Check out files from GitHub
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setting up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: Install dependencies
        run: npm install ci

      - name: Compile Eleventy
        run: npm run build

      - name: Deploy to Zendesk via REST API
        env:
          ZENDESK_API_USER: ${{ secrets.ZENDESK_API_USER }}
          ZENDESK_API_TOKEN: ${{ secrets.ZENDESK_API_TOKEN }}
        run: |
          node deploy.js
